.imagewelcome>img{
      height: 80vh;
      width: 95vw ;
      margin-left: 2vw;
      margin-right: 2vw;
}


ul{
      display: flex;
}
li{
      list-style-type: none;
      margin:1rem;

}
.navbar{
      display: flex;
      justify-content: space-between;
}
.footer{
      background-color: black;
      color: white;
     text-align: center;
}
.main{
      display: flex;
}
.main>div{
      text-align: center;
      width: 30vw;
}
a{
      text-decoration: none;
}
a:link, a:visited{
      color: black;
}
a:hover{
      color: brown;
}




